.tag-list{
    margin-top: 27%;
}

.tag-list-header{
    font-size: 22px;
}

.tag-list-tags {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    font-weight: bold;
}

.tag-list-users{
    list-style-type: none;
    padding-left: 0;
    font-weight: bold;
    text-align: left;
}

.tag-list-users a{
    color: #006cd8;
}

.tag-list-tags li{
    list-style: none;
    display: inline;
}

.tag-list-tags a{
    color: #a4002e;
}

.t1{
    font-size: 25px;
    opacity: 0.9;
}

.t2{
    font-size: 23px;
    opacity: 0.8;
}

.t3{
    font-size: 21px;
    opacity: 0.7;
}

.t4{
    font-size: 18px;
    opacity: 0.6;
}

.t5{
    font-size: 15px;
    opacity: 0.5;
}

.t6{
    font-size: 13px;
    opacity: 0.4;
}

.t7{
    font-size: 11px;
    opacity: 0.3;
}