<!--Header-->
{% load static %}
<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img class="bi me-2"  style="left:210px; " src="{% static 'img/Other/logo.png'%}">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto my-2 justify-content-center mb-md-0 ">
                    <li>
                        <a href="{% url 'home' %}" class="nav-link text-secondary">
                            <img class="bi d-block mx-auto mb-1" width="31" height="31" src="{% static 'img/Other/icon-home.png'%}">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'tax' %}" class="nav-link text-secondary" >
                            <img class="bi d-block mx-auto mb-1" width="31" height="31" src="{% static 'img/Other/icon-tax.png'%}">
                            Расчет налогов
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'analytics' %}" class="nav-link text-secondary">
                            <img class="bi d-block mx-auto mb-1" width="31" height="31" src="{% static 'img/Other/icon-analytics.png'%}">
                            Аналитика
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'main' %}" class="nav-link text-secondary">
                            <img class="bi d-block mx-auto mb-1" width="31" height="31" src="{% static 'img/Other/icon-forum.png'%}">
                            Форум
                        </a>
                    </li>
                </ul>

                <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0 ml-3 mt-2">
                    {% if user.is_authenticated %}

                    <a href="{% url 'ask' %}" class="nav-link">
                        <img class="bi d-block mx-auto mb-1" width="39" height="39" src="{% static 'img/Other/icon-question.png'%}">
                    </a>

                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle"  id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" >
                            <img  src={{ user.avatar.url }} alt="mdo" width="50" height="50" class="rounded-circle">
                            &nbsp
                            {{ user.username }}
                        </a>

                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <li ><a class="dropdown-item text-black" href="{% url 'ask' %}" id="drop1">Задать вопрос</a></li>
                            <li><a class="dropdown-item text-black" href="{% url 'profile' user.pk %}" id="drop2">Настройка</a></li>
                            <li><a class="dropdown-item text-black" href="{% url 'login' %}" id="drop3">Сменить аккаунт</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item " href="{% url 'signout' %}">Выход</a></li>
                        </ul>
                    </div>

                    {% else %}
                    <a href="{% url 'login' %}" class="nav-link text-secondary">
                        <img class="bi d-block mx-auto mb-1" width="31" height="31" src="{% static 'img/Other/icon-vhod.png'%}">
                        Вход
                    </a>

                    <a href="{% url 'signup' %}" class="nav-link text-secondary">
                        <img class="bi d-block mx-auto mb-1" width="31" height="31" src="{% static 'img/Other/icon-registr.png'%}">
                        Регистрация
                    </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
