{% load static %}

<div class="tag-list">
    <div class="tag-list-header mb-3">
        Популярные теги
    </div>

    <ul class="tag-list-tags mb-5">
        <li><a class="t5" href="">Python</a></li>
        <li><a class="t3" href="">Perl</a></li>
        <li><a class="t2" href="">Cpp</a></li>
        <li><a class="t7" href="">Google</a></li>
        <li><a class="t1" href="">Golang</a></li>
        <li><a class="t6" href="">Aparin</a></li>
        <li><a class="t4" href="">Django</a></li>
    </ul>
    <div class="tag-list-header mb-3">
        Пользователи
    </div>
    <ul class="tag-list-users">
        <li><a class="t7" href="">Bigyin</a></li>
        <li><a class="t1" href="">Coppen</a></li>
        <li><a class="t5" href="">Damian</a></li>
        <li><a class="t3" href="">NST</a></li>
        <li><a class="t4" href="">Doerr</a></li>
        <li><a class="t2" href="">Phillydog</a></li>
        <li><a class="t6" href="">_ser_</a></li>
    </ul>

</div>